
*.DS_Store

cmake-build-debug/*
cmake-build-release/*
build*

lib/_bin/

# MSVC
out/
.vs/
enc_temp_folder/

run/bin/*
run/assets/*.spv

run/settings.json
run/imgui.ini

run/cache/*.png

run/saves/*


run/screenshots/2023*.png
