
*.DS_Store

cmake-build-debug/*
cmake-build-release/*

# MSVC
out/
.vs/

run/bin/macos-x86-64/*
run/bin/darwin-x64/*
run/bin/windows-amd64/*

run/settings.json

run/cache/*.png

run/saves/*

run/imgui.ini

run/screenshots/2023*.png